{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div>
        <h2>You have following options for using this website:</h2>
        <ul>
            <li><a href="{{path('app_login')}}">log in</a> if you have already signed up</li>
            <li>proceed as a <a href="{{path('all_tests')}}">guest user</a></li>
            <li><a href="{{path('app_register')}}">sign up</a> if you would like to store your test results and view them later - for some mysterious reason registration form does not validate any password! and thus it does not work<div><b>In order to check how the system works for users, please use the UserFixtures data to log in: User 1 + password 1, User 2 + password 2, User 3 + password 3, User 4 + password 4, User 5 + password 5</b></div></li>
        </ul>
    </div>
    
{% endblock %}