{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    <link href="{{asset('css/test/index.css')}}" rel="stylesheet"/>
{% endblock %}

{% block body %}

    {% for row in rows %}
    	<div class="row">
    		{% for j in 1..row['length'] %}
    			<div class="col-sm">
    				<div class="test_container">
                        <h1><a href="{{path('specific_test',{'test_id':row['tests'][j-1]['id']})}}">{{row['tests'][j-1]['name']|upper}}</a></h1>
                        <div>{{row['tests'][j-1]['d']}}</div>
    				</div>
    			</div>
    		{% endfor %}  		
    	</div>
    {% endfor %}

{% endblock %}