{% extends 'base.html.twig' %}

{% block title %}{{test['name']}}{% endblock %}

{% block body %}

    {{include('test/header.html.twig')}}

    <h1>{{test['name']|upper}}</h1>

    {{form(form)}}

{% endblock %}